body{
    margin: 0;
    padding: 0;
}

#myModal {
    border: 3px solid #5e533d;
}

#mod-img {
    padding-right: 20px;
    padding-left: 20px;
    max-width:100%;
    height:auto;
    cursor: pointer;
    transition: 0.3s;
}


#mod-img:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.container {
position: relative;
width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

iframe {
    margin-top: 50px;
    margin-bottom: 75px;
    width:300px;
    height: 300px;
    /*width="420" height="315"*/

}

.middle {
    margin-top: 50px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}



.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {

    opacity: 1.0;
}

.dadlist-summary {
    background-color: white;
    width: 900px;
    margin-top: 600px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 100px;
    border-radius: 5px;
    box-shadow: rgba(241, 241, 241, 0.41) 15px 15px 15px;

}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 768px){
    .modal-content {
        width: 100%;
    }

    iframe {
        margin-top: 50px;
        margin-bottom: 75px;
        width:420px;
        height: 315px;
        /*width="420" height="315"*/

    }
}

@media (min-width: 1200px) {
    iframe {
        margin-top: 50px;
        margin-bottom: 75px;
        width:70%;
        height: 400px;
        /*width="420" height="315"*/

    }


}

