/** { border: 1px solid black;*/
   *{ box-sizing: border-box}
html {

    margin: 0px;!important;
    padding: 0px;!important;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main{
    margin: 0 auto;
    padding: 0;
}

button.navbar-toggler {
    color: white;
}

.header-art{
    float: left;

}
#header-img {
    width: 190px;
    height: 180px;
}
.header{
    background-color: #313030;
    height: 180px;
}

#wel-img{
    height:200px;
    width: 200px;
}

.wel-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color : #998462;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 16px;
    width: 81px;
}

.menu li:hover {
    background-color: #78644b;
}

#project-description{
    display: flex;
    justify-content: center;

}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/**/
/**/
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
/**/
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
/**/
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/**/
/* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    font-size: 17px;
}
/**/
#icoOpen {
    margin-top: 20px;
}
/**/
/**/
/* Change the color of links on hover */
.topnav a:hover {
    background-color: gray;
    color: white;
}





/*RESPONSIVE DESIGN*/




/*!/ Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #header-img {
        width: 350px;
        height: 350px;
    }
    .header {
        height: 350px;
    }


    #wel-img{
        height:390px;
        width: 390px;
    }






    .about-section {
        padding-left: 0px;
        margin-top: 500px;
        font-size: 16px;
    }

    #about-me-section {
        padding-left: 0px;
        margin-left: 0px;
    }

    .project-list-item {
        width: 10%;
    }
/**/
    .portfolio-list-item {
        width: 10%;
    }
/**/
    #contact {
        margin-top: 200px;
/**/
    }
    .contact-card{
        width: 35rem;
    }

}

@media (min-width: 992px) {

    #header-img {
        width: 500px;
        height: 500px;
    }
    .header {
        height: 500px;
    }


    #wel-img{
        height:540px;
        width: 540px;
    }








    .about-section {
        padding: 0;
        margin-top: 800px;
        font-size: 19px;

    }
    #about-me-section {
        font-size: 15px;
    }


    #project{
        margin-top: 180px;
    }



    .project-list-item {
        width: 10%;

    }

    .portfolio-list-item {
        width: 10%;
    }

    #contact {
        margin-top: 200px;
    }

    .contact-card {
        width: 44rem;

    }

    .form-group{
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
















    .about-section {
        padding: 0;
        margin-top: 700px;
        font-size: 19px;

    }

    #about-me-section {
        margin-top: 50px;
        padding-left: 0px;
        padding-right: 80px;
    }


    .coffee-project {
        width: 70%;
    }

    .weatherMap-project {
        width: 70%;
    }

    #project{
        margin-left: 230px;
    }

    #portfolio{
        margin-top: 300px;
    }
    #dev-day, #cod-ed, #con-ed{
        margin-top: 150px;
    }

    .project-list-item {
        width: 10%;
    }

    .portfolio-list-item {
        width: 10%;
    }


    #contact {
        margin-top: 400px;
    }

    .contact-card {
        width: 44rem;

    }
}
@media screen and (min-width: 1200px) {
    body{
        width: 150%;
        height: auto;
        margin: 0;
        padding: 0;

        background-repeat: no-repeat;
    }
    .menu li {
        font-size: 30px;
        width: 133px;
    }
}

@media screen and (min-width: 1200px) {



    .wel-container{
        display: flex;
        justify-content: normal;


    }
    #wel-img{
        height:600px;
        width: 600px;
        margin-left: 250px;
    }

}