
* {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    margin: 0px;
    height: 100%;
!important;
    padding: 0px;
!important;
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100%;;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/*/////////GRID/////////////*/

.container {

    display: grid;
    grid-template-columns: max-content;
    grid-auto-rows: max-content;
    grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "content2 content2 content2 content2"
    "content1 content1 content1 content1"
    "footer footer footer footer";
}



/*///////// NAV ////////////*/

nav {
    /*background-color: #1ef8ff;*/
    grid-area: nav;
    text-align: center;
}




/*//////// HEADER /////////*/
main {

    grid-area: main;

}


.header-block {
    position: relative;
}

.header-art {
    float: left;

}

#header-img {
    width: 183px;
    height: 180px;
}


.header-right {
    background-color: #313030;
    height: 180px;
    background-image: url("../img/Welcome.png");
    background-size: 46%;
    background-repeat: no-repeat;
    background-position: right 19% bottom 69%;

}


#title {

    position: absolute;
    color: white;
    font-family: "Roboto";
    font-size: 7px;
    left: 161px;
    top: 76px;
}


#intro {

    position: absolute;
    color: #ffffff;
    font-family: "Roboto Light";
    font-size: 7px;
    left: 194px;
    top: 100px;
}



/*////////////  QUOTE  //////////////*/

#content2 {
    grid-area: content2;
    text-align: center;
    margin-top: 100px;
    height: 150px;
}

.ml12 {
    font-family: "Roboto Light";
    font-weight: 200;
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    position: relative;
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.ml12 .letter {

    line-height: 1em;
}


/*//////////////// PROJECTS ///////////////// */
.projects {
  text-align: center;
}

.project-item{
    width: 40%;
}



/*////// SKILLS  /////////*/

#content1 {

    grid-area: content1;
    text-align: center;
    height: 200px;

}



/*//////////// FOOTER  //////////////*/

footer {

    grid-area: footer;
    display: flex;
    justify-content: center;
    padding: 10px;

}


.social {
    text-align: center;
    background-color: #6a6868;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;


}

#box1 {
    grid-area: box1;

}

#box2 {
    grid-area: box2;

}

#box3 {
    grid-area: box3;

}

#box4 {
    grid-area: box4;

}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: #4663B9;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


#icoOpen {
    margin-top: 20px;
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: gray;
    color: white;
}


#skills-img {
    /*position: relative;*/
    width: 87%;
}

#contact-img {
    width: 1050px;
    height: 480px;
}







/*/////////////////////////////////// !*RESPONSIVE Grid*! /////////////////////////*/

@media only screen and (max-width: 550px) {

    .container {
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
        grid-template-areas:
        "nav"
        "main"
        /*"sidebar"*/
        /*"projects"*/
        "content1"
        "content2"
        "footer";
    }

    .menu {

        margin: 0;
    !important;
    }

}





/*/////// RESPONSIVE WEBSITE //////////*/


/*!/ Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #header-img {
        width: 350px;
        height: 350px;
    }


    .header-right {
        background-color: #313030;
        height: 350px;
        background-image: url("../img/Welcome.png");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: right 3% bottom 74%;

    }


    #title {

        font-size: 13px;
        left: 319px;
        top: 161px;
    }


    #intro {

        font-family: "Roboto Light";
        font-size: 15px;
        left: 370px;
        top: 200px;
    }


    .ml12 {

        font-size: .8em;

    }

    .menu {

        margin: 0;
    !important;
    }

    .project-container {
        display: none;
    }

    .project-containerLg {
        display: block;
    !important;
    }

    .project-gif {

        width: 36%;
    }

    .project-content, .btn-container {
        grid-area: content1;
        display: flex;
        justify-content: center;
    }

    #content1 {
        height: 350px;
    }

    #skills-img {
        width: 80%;
    }

}

@media (min-width: 992px) {

    #header-img {
        width: 540px;
        height: 540px;
    }


    #content1 {
        height: 550px;
    }

    .header-right {
        background-color: #313030;
        height: 540px;
        background-image: url("../img/Welcome.png");
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: right 1% bottom 60%;

    }

    #title {

        font-size: 17px;
        left: 480px;
        top: 230px;
    }


    #intro {

        font-family: "Roboto Light";
        font-size: 16px;
        left: 560px;
        top: 300px;
    }

    .menu {

        margin: 0;
    !important;
    }

    .project-gif {

        width: 48%;
    }

    #skills-img {
        width: 80%;
    }


    .ml12 {

        font-size: 1.0em;
    }

}

@media screen and (min-width: 1200px) {

    #title {

        font-size: 29px;
        left: 485px;
        top: 250px;
    }


    #intro {

        font-family: "Roboto Light";
        font-size: 25px;
        left: 714px;
        top: 350px;
    }

    .header-right {
        background-size: 48%;
        background-repeat: no-repeat;
        background-position: right 7% bottom 70%;
    }

    .menu {

        margin: 0;
    !important;
    }

    #skills-img {
        width: 60%;
        /*do not change deployed site looks different*/
    }


    .project-gif {

        width: 60%;
        /*do not change deployed site looks different*/
    }


    .ml12 {

        font-size: 1.3em;
    }
}


@media screen and (min-width: 2100px) {

    .header-right {
        background-size: 34%;
        background-repeat: no-repeat;
        background-position: right 61% bottom 70%;
    }
}