
* {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {

    margin: 0px;
    height: 100%;
!important;
    padding: 0px;
!important;
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100%; ;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.container {

    display: grid;
    width: 100vw;!important;
    height: 100vh;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: .2fr 1.5fr 1.2fr 1.2fr .8fr;
    grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "sidebar content1 content1 content1"
    "sidebar content1 content1 content1"
    "content2 content2 content2 content2"
    "footer footer footer footer";
    grid-gap: .2rem;

}

nav {
    background-color: #1ef8ff;
    grid-area: nav;
}
main {
    background-color: #1ba8ad;
    grid-area: main;
}

#sidebar {
    background-color: #108082;
    grid-area: sidebar;
}

#content1{
    background-color: #0d6549;
    grid-area: content1;
}


#content2{
    background-color: #0d6569;
    grid-area: content2;
}



footer{
    background-color: #0b3c45;
    grid-area: footer;
}

@media only screen and (max-width:550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: .4fr .4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
        "nav"
        "main"
        "sidebar"
        "content1"
        "content2"
        "footer";
    }
    
}








/* */

.header-block {
    position: relative;
}

.header-art {
    float: left;

}

#header-img {
    width: 183px;
    height: 180px;
}

.header {
    background-color: #313030;
    height: 180px;
}

#title {

    position: absolute;
    color: white;
    font-family: "Roboto Light";
    font-size: 8px;
    left: 175px;
    top: 72px;
}

#wel-img {
    height: 172px;
    width: 210px;
}

.wel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro {

    position: absolute;
    color: #ffffff;
    font-family: "Roboto Light";
    font-size: 6px;
    left: 194px;
    top: 108px;
}

.contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7em 1.4em;
    margin: 10px 0em 0.3em 0;
    border-radius: 0.25em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 9px;
    /*font-weight:400;*/
    color: #ffffff;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;


}

.contact-btn:active {
    top: 0.1em;
}


.project-tab {
    font-family: "Open Sans";
    color: #ffffff;
}

.row {
    display: flex;
}

/*.column {*/
/*    flex: 50%;*/
/*}*/
.column1 ul {


    list-style-type: none;
    margin: 140px 0 0 0;
    padding: 0;
}

.column1, .column2 {
    flex: 50%;
}


.menu li {

    padding: 8px;
    margin-bottom: 7px;
    background-color: #F3C253;
    color: #ffffff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.74);
    font-size: 16px;
    width: 200px;
}

.menu li:hover {
    background-color: #4663B9;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: #4663B9;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


#icoOpen {
    margin-top: 20px;
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: gray;
    color: white;
}


/*}*/

#skills-img {
    width: 700px;
    height: 700px;
}

/*RESPONSIVE DESIGN*/


/*!/ Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #header-img {
        width: 350px;
        height: 350px;
    }

    .header {
        height: 350px;
    }


    #wel-img {
        height: 390px;
        width: 390px;
    }

    #title {

        font-size: 13px;
        left: 319px;
        top: 161px;
    }


    #intro {

        font-family: "Roboto Light";
        font-size: 15px;
        left: 370px;
        top: 234px;
    }


}

@media (min-width: 992px) {

    #header-img {
        width: 540px;
        height: 540px;
    }

    .header {
        height: 540px;
    }

    #title {

        font-size: 24px;
        left: 501px;
        top: 230px;
    }

    #wel-img {
        height: 540px;
        width: 540px;
    }


    #intro {

        font-family: "Roboto Light";
        font-size: 16px;
        left: 581px;
        top: 340px;
    }


}

@media screen and (min-width: 1200px) {

    #title {

        font-size: 26px;
        left: 501px;
        top: 210px;
    }


    #intro {

        font-family: "Roboto Light";
        font-size: 25px;
        left: 559px;
        top: 313px;
    }


    #wel-img {
        height: 650px;
        width: 650px;
        margin-left: 100px;
    }

}

@media screen and (min-width: 2200px) {


}



