
body{
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
}


.top-nav {
    /*position: fixed;*/
    /*left: 440px;*/
    /*z-index: 1000;*/
    /*padding: 1.5em;*/
    /*width: 100%;*/
    font-size: 2em;
    color: white;
    /*background: grey;*/
    /*border: 2px solid black;*/
    display: flex;
    justify-content: right;
    align-items: start;

}


.nav-item{
    /*display: inline-block;*/
    /*padding: 1.5em;*/
}

#headBgXl {
    background-image: url('img/head2BgXl.png');
    background-size: cover;
    height: 500px;
    width: 100%;
    /*padding-top: 20px;*/
    /*background-color: black;*/
}

#headBgText{
    color: white;
    font-size: 55px;
    font-weight: bolder;
    margin-left: 3em;
    padding-top: 50px;

}

#headBgTextName{
    color: white;
    font-size: 55px;
    font-weight: bolder;
    margin-left: 3em;
    padding-top: 50px;

}

#jump-links {
    color: black;
}