
body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-image: url("img/NewBGImage.png");
    background-repeat: no-repeat;
}


.navbar {
    background-color: black;
}

button.navbar-toggler {
    color: white;
}

.animated-text {
    position: absolute;
}

#name {
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;
    margin-left: 40px;
    padding: 1em 2em;
    font-size: 40px;
    background: transparent;
    color: white;

}

.hello {
    font-weight: 200;
    margin: 0.4em 0;
    font-size: 3.5em;
}

.about-section {
    margin-top: 550px;
}