
body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.navbar {
    background-color: black;
}

button.navbar-toggler {
    color: white;
}

#name {
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;
    padding: 1em 2em;
    font-size: 70px;
    background: none;
    color: white;
}

.hello {
    font-weight: 200;
    margin: 0.4em 0;
    font-size: 3.5em;
}
